@mixin center($mode: 'center') {
    display: flex;
  
    @if $mode == 'horizontally' {
      justify-content: center;
    } @else if $mode == 'vertically' {
      align-items: center;
    } @else {
      align-items: center;
      justify-content: center;
    }
}

@mixin flexContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}