@import '../../styles/mixins.scss';

.layout {
    width: 80%;
    height: 80%;

    display: grid;
    padding: 4px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "nav main main main main"
      "nav main main main main"
      "events main main main main"
      "events main main main main"
      "events main main main main";
}