@import '../../styles/mixins.scss';

.events_container {
    grid-area: events;
    height: 100%;
}

.events {
    @include center;
    flex-direction: column;
}

.alarms {
    display: block;
    margin: 0 auto;
}