@import '../../styles/mixins.scss';

.vertical {
    transform-origin: 0 100%;
    transform: rotate(90deg); 
    width: 25%;
}

.grid {
    padding: 4px;
    @include flexContainer;
}

.barcharts {
    @include flexContainer;
}

.progressbars {
    @include flexContainer;
}