.vertical {
    transform-origin: 0 100%;
    transform: rotate(90deg); 
    width: 25%;
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 4px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "progressbars"
      "barcharts";
    justify-items: center;
    align-items: center;
}

.barcharts {
    grid-area: barcharts;
    width: 100%;
    height: 100%;
}

.progressbars {
    grid-area: progressbars;
    width: 100%;
}