.comms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message_container {
    overflow: scroll;
    flex: 1;
}

.message_input {
    background-color:#212529; 
    padding: 1rem;
    justify-content: flex-end;
}