@import '../../styles/mixins.scss';

.table {
    @include center('horizontally');

    tr td:nth-of-type(2) {
        @include center;
        height: 100%;

        img {
            width: 42px;
            height: 32px;
        }
    }
}

.toggle {
    text-align: center;
}

